body {
<<<<<<< Updated upstream
    background-color: #F3F3F2; /* vaalea tausta */
=======
    background-color: #EAE4E0;
>>>>>>> Stashed changes
    font-family: 'Inknut Antiqua', serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

.navbar {
    background-color: #211F1F; 
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

.left-section {
    display: flex;
    align-items: center;
}

.navbar-img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar img {
    max-height: 100px;
    max-width: 140px;
    margin-left: 1rem;
    border-radius: 70% / 30%;
}

.navbar-title {
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-left: 1rem;
    font-family: 'Crimson Text', serif;
}

.right-section {
    display: flex;
    gap: 5rem;
    padding: 0;
    margin-left: auto; /* Tärkeää: Lisää marginaalia vasemmalle, jotta se pysyy oikealla */
    padding-right: 6rem; /* Lisää tyhjää tilaa oikealle */
    align-items: center;
    font-size: 1.7rem;
    font-family: 'Crimson Text', serif;
    margin-top: 80px;
    
}

.right-section ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}

<<<<<<< Updated upstream
.navbar li {
=======
.right-section li {
    display: inline;
>>>>>>> Stashed changes
    margin: 0;
}

.right-section a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
}

.right-section a:hover {
    color: #5CDAF6; /* linkin hover-väri */
}

<<<<<<< Updated upstream
.container {
=======
.right-section a:active {
    color: #5CDAF6; /* linkin aktiiviväri */
}

.adoptiosivu-container {
>>>>>>> Stashed changes
    font-family: 'Crimson Text', serif;
    color: #211F1F;
    font-size: larger;
    padding: 20px;
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: center;
    padding: 20px;
<<<<<<< Updated upstream
=======
    flex-wrap: wrap;
}

.col {
    margin: 10px;
    padding: 10px;
    border: 2px solid #211F1F;
    background-color:#f7f0f0;
    flex: 1;
    width: 200px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #211F1F;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    color: #000000
}

.col:hover {
    background-color: #211F1F;
    color: #FFFFFF;
    cursor: pointer;
}

.button-link {
    text-decoration: none;
>>>>>>> Stashed changes
}

.content {
    text-align: center;
    padding: 2rem;
    color: #211F1F;
    font-family: 'Crimson Text', serif;
    font-size: larger;
}

.content img {
    max-width: 100%;
    height: auto;
}

.footer {
    background-color: #211F1F; /* tumma footer */
    padding: 1rem;
    text-align: center;
}

.footer img {
    max-height: 50px;
}

p {
    margin: 0.5rem 0;
}
