body {
    background-color: #EAE4E0;
    font-family: 'Crimson Text', serif;
    margin: 0;
    padding: 0;
    color: #000000;
}

.navbar {
    background-color: #211F1F;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

.left-section {
    display: flex;
    align-items: center;
}

.navbar-img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar img {
    max-height: 100px;
    max-width: 140px;
    margin-left: 1rem;
    border-radius: 70% / 30%;
}

.navbar-title {
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-left: 1rem;
    font-family: 'Crimson Text', serif;
}

.right-section {
    display: flex;
    gap: 5rem;
    padding: 0;
    margin-left: auto;
    padding-right: 6rem;
    align-items: center;
    font-size: 1.7rem;
    font-family: 'Crimson Text', serif;
    margin-top: 80px;
}

.right-section ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}

.right-section a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
}

.right-section a:hover {
    color: #5CDAF6;
}

.right-section a:active {
    color: #5CDAF6;
}

.adoptiosivu-container {
    font-family: 'Crimson Text', serif;
    color: #f7f0f0;
    font-size: medium;
    padding: 20px;
    text-align: center;
}

.tuetoimintaa-container {
    font-family: 'Crimson Text', serif;
    color: #f7f0f0;
    font-size: medium;
    padding: 20px;
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.col {
    margin: 10px;
    padding: 10px;
    border: 2px solid #211F1F;
    background-color: #f7f0f0;
    flex: 1;
    min-width: 150px;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #211F1F;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    color: #211F1F;
}

.col:hover {
    background-color: #211F1F;
    color: #f7f0f0;
    cursor: pointer;
}

.button-link {
    text-decoration: none;
}

.content {
    text-align: center;
    padding: 2rem;
    color: #211F1F;
    font-family: 'Crimson Text', serif;
    font-size: larger;
}

.content img {
    max-width: 100%;
    height: auto;
}

.footer {
    background-color: #211F1F; 
    color: #FFFFFF; 
    padding: 2rem 1rem; 
    text-align: center;
    font-family: 'Crimson Text', serif;
    border-top: 2px solid #5CDAF6; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer img {
    max-height: 90px; 
    margin: 1rem 0; 
    margin-left: auto; 
}

.footer p {
    margin: 0.5rem 0; 
    font-size: 1.1rem; 
    text-align: left;
}

.footer a {
    color: #5CDAF6; 
    text-decoration: none;
    font-weight: 700;
}

.footer a:hover {
    color: #FFFFFF; /* linkkien hover-väri */
    text-decoration: underline;
}

p {
    margin: 0.5rem 0;
}
